<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZhuShangDai-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>047DF3B41EFA48C600BB4F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047DF3C81EFA48C700BB4F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047DF3D31EFA48C700BB4F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
